.homepage-banner {
    background-image: url("https://wallpaperaccess.com/full/2738826.jpg");
    background-position: center;
    background-size: cover;
    padding:128px 16px;
  }
  
.welcome-message {
  color: black;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  margin-left: 0.3;
}

.waitingList {
  margin-left: 3px auto;
  margin-right: 3px auto;
  margin-top: 3px auto;
  margin-bottom: 3px auto;
  text-align: center;
}
.waitingList tr:hover {background-color: orange;}
.waitingList th {
  background-color: #FF8000;
  color: white;
  font-weight: bold;
}


.navBar {
  background: orange;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navButton {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navButton:hover{
  background-color: white;
  border-radius: 2px;
  transition: all 0.2s ease-out;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.centralised {
  margin: auto;
  width: 80%;
  padding: 10px;
}